@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'pikaday/css/pikaday.css';

.common-list {
    margin-left: 30px;
}

.report-table, .report-table-button {
    text-align: center;
    margin: 20px;
}

.report-table thead tr th{
    padding: 10px;
}